* {
  box-sizing: border-box;
}

:root {
  --color-bg: #fdf6f0;
}

textarea {
  width: 100%;
  min-height: 150px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: grid;
  gap: 1em;
}

@media (min-width: 768px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

.csv-container,
.txt-container {
  padding: 1em;
}
